---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.svelte'
import DesktopForm from '../components/DesktopForm.svelte'
import MobileForm from '../components/MobileForm.svelte'
import Timer from '../components/Timer.svelte'
---

<Layout title="gorkle">
	<main class="box-border h-screen flex flex-col justify-start items-center">
		
		<Header client:load/>
		<div class="bg-transparent h-12 w-full"></div>
		<section id="landing" class="h-full lg:grid lg:grid-cols-2 w-full flex-col border-solid border-black border-b-1 lg:pt-0 py-16 px-5  box-border flex justify-between">
			<div class="flex flex-col gap-5 lg:justify-center h-full ">
			<h1 class="text-5xl font-medium">Small business websites for small business budgets.</h1>
			<h2 class="text-lg font-mdeium">We believe that a good website is a core part of a businesses success, and that they shouldn't be limited to those with massive budgets.<br><br>Which is why we only start at 250AUD/month</h2>
			<DesktopForm client:load/>
			</div>
			
			<div class="my-auto lg:hidden">
				<MobileForm client:load/>

			</div>

			
	
			<div class="flex-col hidden lg:flex w-full h-screen justify-center items-center">
				<Timer client:load/>
				
			</div>
		</section>
	</main>
</Layout>

<style>
	
</style>
